body{
	background:#ffffff;
}
/*basic parting*/
#top{
	padding-top:35px;
	min-height:100px;
	border:1px solid black;
}
#side-left{
	height:450px;
	min-height:1200px;
	border:1px solid black;
	float:left;
}
#mid{
	height:450px;
	min-height:1200px;
	border:1px solid black;
	/*margin-left:90px;*/
}
#bot{
	height:90px;
	min-height:600px;
	border:1px solid black;
	margin-bottom:10px;
}
/*top display*/
 ul, li {
    display:block;
    padding:0;
    margin:0;
}
.menu{
}
.menu__item{
}
#smsLogo{
padding-top:42px;
}
#phoneLogo{
padding-top:42px;
 padding-left:5px;
}

img:hover{/*shadow creating*/
 -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3);
 box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
}
/* acc page*/
#acc_window{
height:80%;
width:100%;
}
#photoSpace{
    height:20%;
    width:20%;
	border:1px solid black;
	float:left;
}
#infoSpace{

    height:20%;

    border:1px solid black;
    border-bottom:0px solid black;

}
#textbox{
    border-color:rgba(0, 0, 0 ,0);
    width:25%;
    font-family: 'Lobster', cursive;
    font-size:30px;
    box-shadow:none;
    outline:none;
    outline-offset:0;
    margin-left:20px;
    margin-top:20px;
    background:rgba(0, 0, 0 ,0);

}
/*page where creating list of blocks by current users by name which is typed */

#input_space{
text-align:center;
}
#input_name{

}
#Group{
font-family: 'Lobster', cursive;
float:left;
}
#find{
outline:none;
border-radius:50px;
}
#findbtn{
outline:none;
border-radius:50px;
}
#people_container{
    overflow:auto;
    height:900px;
    margin-left:200px;
    margin-right:200px;
    weight:50%;
    margin-top:20px;
    border:1px solid black;
    border-radius:50px;
}


.founded_accs{
    height=100px;
    margin-top:20px;
    border-radius:50px;
    border:1px solid black;
}
.left_content_div{
    height:80px;
    width:90%;

    float:left;
}
.founded_accs_photo{
    margin-left:5%;

    height:75px;
    width:20%;
    float:left;
    border:1px solid black;

}
.founded_accs_name{
    font-family: 'Lobster', cursive;
    margin-left:25%;
    height:75px;
    width:60%;

    padding-top:2%;
    padding-left:5px;
    text-align:left;

}
.founded_username{
font-family: 'Lobster', cursive;
height:35px;
width:40%;
}
.founded_list_members{
color:rgba(176, 175, 174,0.5);
font-family: 'Lobster', cursive;
overflow:hidden;
height:25px;
width:20%;

}
.butt_div{
    margin-left:90%;
    height:75px;
    width:1%;


}

/* changing curs for founded list of people*/

#people_container::-webkit-scrollbar {
    width: 20px;
}

#people_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


#people_container::-webkit-scrollbar-thumb {
    background:rgba(158, 230, 190,0.5);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
/*chatdiv*/
#messager_container{
     height:95%;
     width:100%;
     margin-left:8%;

     /*border:1px solid black;*/
}
#members_container{
    overflow:auto;
    height:90%;
    width:30%;
    float:left;
    border:1px solid black;
    border-radius:50px;



}
#sms_contaioner{
    height:90% ;
    width:70%;
    border:1px solid black;
    overflow:auto;
    border-radius:50px;
}
#input_field{
    border-radius:50px;
    height:10%;
    border:1px solid black;
}