body{
	background:#00315c;
}
#top{
	margin-right:10px;

	height:50px;
	min-height:200px;
	border:1px solid orange;


}
#side-left{

	height:450px;
	min-height:1200px;
	border:1px solid orange;
	float:left;

}

#mid{

	height:450px;
	min-height:1200px;
	border:1px solid orange;
	margin-left:90px;


}
#bot{

	height:90px;
	min-height:600px;
	border:1px solid orange;
	margin-bottom:10px;
}